$ns: issue-loan-- !default;
$stepper: stepper--;

.#{$ns}base-info {
  position: relative;
  background: white;
  padding: 32px 32px 18px 32px;
  margin-bottom: 32px;
}

.#{$ns}avatar {
  cursor: pointer;
  position: relative;
  display: block;
  height: 136px;
  width: 136px;
  min-height: 136px;
  min-width: 136px;
  overflow: hidden;
  padding-right: 24px;

  div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.#{$stepper}header {
  display: flex;
  flex-direction: row;
  place-content: center space-between;
  align-items: center;
  height: 72px;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(52, 62, 77, 0.12), 0 0 2px 0 rgba(52, 62, 77, 0.24);
}

.#{$stepper}step {
  flex: 0 0 auto;
  display: flex;
  align-items: center;

  .#{$stepper}text {
    font-weight: 500;
  }

  .#{$stepper}circle-wrap {
    height: 72px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 500;

    .#{$stepper}circle-pad {
      padding-right: 8px;

      svg {
        display: block;
        color: rgb(0, 188, 212);
        height: 24px;
        width: 24px;
        user-select: none;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        font-size: 24px;
      }
    }
  }
}

.#{$stepper}step--disabled {
  .#{$stepper}text {
    font-weight: 400;
  }

  svg {
    color: rgb(158, 158, 158);
  }
}

.#{$stepper}step-line {
  flex: 1 1 auto;
  margin-left: 16px;

  span {
    display: block;
    border-color: rgb(189, 189, 189);
    margin-left: -6px;
    border-top-style: solid;
    border-top-width: 1px;
  }
}

.#{$stepper}actions {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
}
