body {
  background-color: rgb(237, 239, 241);
  font-family: Roboto;
}

.main-container {
  background: white;
  width: 1216px;
  margin: 50px auto;
  margin-bottom: 50px;
  padding: 20px 32px;
}

.header {
  font-size: 20px;
  color: #2b333f;
  font-weight: 400;
  /* padding-bottom: 20px; */
}

.params {
  display: flex;
  position: relative;
  left: -10px;
  padding: 23px 0px;
}

.fields {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;
  padding-bottom: 14px;
}

.mdc-form-field label {
  cursor: pointer;
}

.ui-textfield--readonly::after {
  height: 0px !important;
}

.loan-wrapper {
  display: flex;
  padding-top: 12px;
}

.loan-wrapper > div {
  padding-right: 32px;
}

.ui-slider-with-textfield-labels-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 15px;
}

.ui-slider-with-textfield-label {
  color: #afbec5;
  font-size: 14px;
}

.mdc-dialog__surface {
  width: 448px;
  max-width: 448px;
  min-width: 448px;
}
.mdc-dialog__header {
  padding-right: 32px;
  padding-left: 32px;
}
.mdc-dialog__body {
  padding-right: 32px;
  padding-left: 32px;
}
.mdc-dialog__footer {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 24px;
}
