body {
  background-color: rgb(237, 239, 241);
  font-family: Roboto;
}

.content-view {
  width: 1216px;
  margin: 50px auto;
}

.block {
  background: white;
  padding: 24px 32px;
}

.header {
  font-size: 20px;
  color: #2b333f;
  font-weight: 400;
}

.params {
  display: flex;
  position: relative;
  left: -10px;
  padding: 23px 0px;
}

.fields {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  user-select: none;
  padding-bottom: 14px;
}

.mdc-form-field label {
  cursor: pointer;
}

.ui-textfield--readonly::after {
  height: 0px !important;
}

.loan-wrapper {
  display: flex;
  padding-top: 12px;
}

.loan-wrapper > div {
  padding-right: 32px;
}

.ui-slider-with-textfield-labels-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 15px;
}

.ui-slider-with-textfield-label {
  color: #afbec5;
  font-size: 14px;
}

.ui-flex {
  display: flex;
}
.ui-form-row {
  display: flex;
}
.ui-form-row > div {
  padding-right: 16px;
}

.mdc-dialog__surface {
  width: 448px;
  max-width: 448px;
  min-width: 448px;
}
.mdc-dialog__header {
  padding-right: 32px;
  padding-left: 32px;
}
.mdc-dialog__body {
  padding-right: 32px;
  padding-left: 32px;
}
.mdc-dialog__footer {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 24px;
}
.mdc-textfield__input {
  letter-spacing: 0 !important;
}
.mdc-textfield__label {
  white-space: nowrap;
}
/* invalid checkboxes */
.mdc-checkbox--invalid .mdc-checkbox__background {
  border: 2px solid #d50000;
  border-color: #d50000 !important;
}
.mdc-form-field label {
  font-size: 16px !important;
}
.mdc-checkbox--invalid ~ label {
  color: #d50000 !important;
}
