$loan-details: loan-details-- !default;

.#{$loan-details}table {
  background-color: transparent;
  position: relative;
  font-size: 13px;
  width: 100%;
}

.#{$loan-details}rows-wrapper {
  position: absolute;
  width: 100%;
  background-color: transparent;
  margin-left: -32px;
}

.#{$loan-details}row {
  box-shadow: inset 0 -1px 0 0 #edeff1;
  height: 48px;
  width: 100%;
}

.#{$loan-details}block {
  display: inline-block;
  padding: 0 16px;
}

.#{$loan-details}block-row {
  height: 48px;
  font-size: 13px;
  line-height: 45px;
  text-align: left;
}

.#{$loan-details}block-row-header {
  @extend .#{$loan-details}block-row;

  font-size: 12px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.38);
}

.#{$loan-details}block-row-bold {
  @extend .#{$loan-details}block-row;

  font-size: 13px;
  font-weight: bold;
}
