.searchBoxContainer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 0px rgba(52, 62, 77, 0.24);
    border-radius: 2px;
}

.searchBoxSearch {
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
    align-items: baseline;
}

.searchBoxSearchBlock {
    display: flex;
    align-items: flex-start;
}

.searchBoxSearchIcon {
    min-width: 24px;
    align-items: flex-start;
    padding: 12px 16px 0px 22px;
}

.searchBoxTagsBlock {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
}

.searchBoxBlock {
    align-items: center;
    display: flex;
    padding-right: 12px;
}

.searchBoxInputContainer {
    position: relative;
}

.searchBoxInput {
    outline: none;
    border-style: none;
    -webkit-appearance: textfield;
    line-height: 24px;
    height: 48px;
    font-size: 16px;
}

.searchBoxMenu {
    display: block !important;
    position: fixed !important;
    top: 50px !important;
}

.searchBoxListItem {
    height: 32px !important;
    font-size: 14px !important;
}

.searchBoxListItem:hover {
    background-color: #eee;
}

.searchBoxListItemDivider {
    margin: 8px 0px !important;
}

.searchBoxHidden {
    opacity: 0 !important;
}

.chipContainer {
    border: 10px;
    box-sizing: border-box;
    display: inline-block;
    cursor: default;
    background-color: rgb(237, 239, 241);
    border-radius: 16px;
    padding: 0px 12px;
    padding-right: 4px;
    margin-right: 4px;
}

.chipSpanText {
    color: rgb(120, 144, 156);
    font-size: 14px;
    line-height: 32px;
    font-family: "Roboto";
}

.chipButton {
    height: 24px;
    width: 24px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.54;
    cursor: pointer;
    padding: 0px;
    margin: 0px 0px 3px 4px;
    font-size: 13px;
    text-decoration: none;
    border: 0;
    outline: none;
    vertical-align: middle;
    display: inline-block;
}
